news_sites:
  eltiempo:
    url: http://www.eltiempo.com/buscar/$PAGE?q=covid&category=salud&publishedAt%5Bfrom%5D=20-02-01&publishedAt%5Buntil%5D=20-12-01&contentTypes%5B0%5D=article
    queries:
      articles: 'listing'
      title: '.title'
      category: '.category'
      epigraph: '.epigraph'
      published_time:
        - '.published-at'
        - 'published-unix'
  elespectador:
    url: https://www.elespectador.com/
    queries:
      select_table_content: '.btn .btn-gray a'
dane_sites:
  employe:
    base: https://www.dane.gov.co
    url: https://www.dane.gov.co/index.php/estadisticas-por-tema/mercado-laboral/empleo-y-desempleo
    queries:
      select_table_content: 'td div a'
banrep_sites:
  statistics:
    url: https://www.banrep.gov.co/es/estadisticas/indice-precios-consumidor-ipc
    queries:
      select_table_content: '.btn .btn-gray a'